body {
  background-color: #232629;
  color: #fff;
}

#gifContainer, #favoritesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gifDiv {
  width: 33.33%;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif, .favGif {
  max-width: 220px;
  max-height: 220px;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.gif:hover {
  opacity: 0.8;
}

.favoriteBtn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: none;
  cursor: pointer;
}

.favGif {
  max-width: 33.33%;
  padding: 5px;
}

.favGif img {
  max-width: 100%;
  border-radius: 5px;
}
