body {
  background-color: #232629;
  color: #fff;
}

#gifContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gifDiv {
  width: 220px;
  height: 220px;
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  max-width: 220px;
  max-height: 220px;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
}

.gif:hover {
  opacity: 0.8;
}

.download {
  position: absolute;
  bottom: 5px;
  display: none;
  transition: all 0.3s;
}

/* .gifOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.gifOverlay:hover {
  background-color: rgba(0,0,0,0.2);
} */
